@model IEnumerable<BeFitt.Models.Trening_K>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sesja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciezar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Powtorzenia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sesja.Dzien_Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciezar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Powtorzenia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
